<div id="header">
        <div id="logo_cont">
            <a  id="logo" href="allItems"> <img src="images/logo.png"></a>
        </div>
        <div id="menu">
            <a  class="menuitem" href="allItems">All Items</a>
            <a  class="menuitem" href="viewItem">View Item</a>
            <a  class="menuitem" href="soldItems">Sold Items</a>
            <a  class="menuitem" href="myAccount">My Account</a>
            <a  class="menuitem" id="logout" href="index">Logout</a>
        </div>
    </div>