<a class="product" href="">
                    <div>
                        <div id="p_name">{{name}}</div>
                        <div>
                           
                            <p class="p_details"><b>Expiry Date:</b> {{date}}</p>
                            <p class="p_details"><b>Buy Price:</b> {{buy}}</p>
                            <p class="p_details"><b>Sell Price:</b> {{price}}</p>
                        </div>
                    </div>
</a>