<a class="product" href="viewItem.html">
    <div>
        <div id="p_name">{{name}}</div>
        <div>
        <p class="p_details" id="p_size">Size: {{size}}</p>
        <p class="p_details" id="p_price">Selling Price: {{prize}}</p>
        <p class="p_details" id="p_stock">In stock: {{stock}}</p>
        </div>
        </div>
</a>
