<!DOCTYPE html>
<html>
<head>
    <title>E-nventory | All Items</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="body.css"> -->
</head>
<body>
    <div id="header">
        <div id="logo_cont">
            <a  id="logo" href="/allItems"> <img src="/images/logo.png"></a>
        </div>
        <div id="menu">
            <a  id="current" class="menuitem" href="/allItems">All Items</a>
            <a  class="menuitem" href="/viewItem">View Item</a>
            <a  class="menuitem" href="/soldItems">Sold Items</a>
            <a  class="menuitem" href="/myAccount">My Account</a>
            <a  class="menuitem" id="logout" href="/index">Logout</a>
        </div>
    </div>
    <div id="body">
        <div id="left">
            <form id="register">
                <h2>Add Item</h2>                
                <label>Item Name</label>
                <input type="text" id= "i_name" name="i_name" placeholder="ex: Nissin Wafer Choco"> 
                
                <label>Expiry Date</label>
                <input type="date" name="i_edate" id="i_edate"> 

                <label>Size</label>
                <input type="text" id= "i_size" name="i_size" placeholder="ex: 50 ml"> 
                
                <label>Buy Price</label>
                <input type="number" id="i_bprice" name="i_bprice"  placeholder="ex: 50.00"> 

                <label>Selling Price</label>
                <input type="number" id="i_sprice" name="i_sprice"  placeholder="ex: 50.00"> 
                
                <label>Number of Items</label>
                <input type="number" id="i_num" name="i_num" placeholder="ex: 1"> 
               
                <input type="button" name="submit" id="submit" value="Add Item">
            </form>
        </div> 
        <div id="mid">
            <h5>Click product to view specific item details, mark as sold, edit, or remove. </h5>
            <div id="list">
                {{#each products}}
                    {{> product name=name size=size price=price stock=stock}}    
                {{/each}}
            </div>
        </div> 
        <!-- <div id="right"></div>  -->
    </div>
</body>
</html>