<!DOCTYPE html>
<html>
<head>
    <title>E-nventory</title>
    <link rel="stylesheet" type="text/css" href="/css/Sold_Account.css">
</head>
<body>
    <div id="header">
        <div id="logo_cont">
            <a  id="logo" href="/allItems"> <img src="/images/logo.png"></a>
        </div>
        <div id="menu">
            <a  class="menuitem" href="/allItems">All Items</a>
            <a  class="menuitem" href="/viewItem">View Item</a>
            <a  id="current" class="menuitem" href="/soldItems">Sold Items</a>
            <a  class="menuitem" href="/myAccount">My Account</a>
            <a  class="menuitem" id="logout" href="/index">Logout</a>
        </div>
    </div>
    <div class="body" id="bodySI">
        {{!-- <div id="left">
			<h2>Invoice Summary</h2>
			<div id="invoiceSummary">
				<h3 id="profitViewType">Weekly Profit</h3>
					<div class="invoiceDetails">
						<p>Total Expense for this Week: 1000.00</p>
						<p>Total Earnings for this Week: 3100.00</p>
						<p id="totalProfit">Total Profit for this Week: 2100.00</p>
					</div>
				<div id="line"></div>
				<h3 id="incomeHistory">Income History</h3>
					<div class="invoiceDetails">
						<p>Total Profit Last Week:     1250.00</p>
						<p>Total Profit 2 Weeks Ago: 1100.00</p>
						<p>Total Profit 3 Weeks Ago: 5000.00</p>
						<p>Total Profit 4 Weeks Ago: 3000.00</p>
					</div>
				
			</div>
		</div>  --}}
        <div class="mid" id="midItems">
			<div id="list">
			</div>
		</div> 
        <div id="right"></div> 
    </div>
</body>
</html>