@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  Template Page   */
img {
    height:70px;
    margin-top:4px;
    margin-left: 20px;
    margin-right: 50px;
}

img:hover {
    background-color: #5cdde4;
}

html, body {
    height: 100%;
}

body {
    overflow-y: hidden;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #8ADFFF;
    height:100%;

    display: flex;
    flex-direction: column;
}

#header {
    background-color: #2191C9;
    width:100%;
    height:60px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuitem {
    margin:50px;
    height: 80px;
    padding:6px;

    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}

.menuitem:hover , #current:hover{
    background-color:#5EF0F7;
    color:#0B5395;
}

#current{
    background-color:#0B5395;
    color:#2191C9;
}

#logout {
    margin:0;
    margin-left:50px;
    margin-right:0px;
}

#logout:hover {
    background-color: #BFBFBF;
    color:black;
}

#body {
    width: 100%;
    height:100%;
    /* background-color: #8ADFFF; */
    background-image: url("/images/bg.jpg");
    background-position:0px 0px;
    background-size:100%;
    background-repeat: no-repeat;
    

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

#left {
    width:33%;
    height:100%;
    
    /* border-right: 1px solid gray; */
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
}

#mid {
    width:40%;
    height:98%;

    /* overflow-y:auto; */

    /* background-color: #03182cd5; */
}

#right {
    width:33%;
    height:100%;
    
    /* border-left: 1px solid gray; */
    /* background-color: green; */
}

/*  All Items Page   */
h2  {
    text-decoration: underline;
    margin: 5px;
    margin-bottom: 0px;
}

form {
    background-color: #77C2E8;
    margin:25px;
    padding:10px;
    border-radius: 20px;
    
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;

    width: 80%;
    height: 450px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: solid rgb(141, 138, 138) 1px;
    height: 20px;
    width: 80%;
    text-align: left;
    margin-left:28px;
    padding:3px;

    background-color: #DBEFF9;
}

label {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size:15px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left:28px;
}

#submit {
    background-color: #089CA3;
    align-items: center;
    text-align: center;
    border:0px; 
    border-radius: 20px;
    margin-top: 14px;
    height:30px;
    color: white;
    font-size: 16px;
}

#submit:hover {
    background-color: #59999c;
}

h5 {
    margin:0px;
    margin-top:10px;
    margin-bottom: 2px;
}

#list {
    margin-left: 190px;
    width: 98%;
    height:83%;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    /* background-color: pink; */
}

.product {
    width:98%;
    height:90px;
    margin:0;
    margin-bottom: 10px;

    background-color: #c9fafca8;
    align-items: left;

    text-decoration: none;
}

.product:hover{
    background-color: #dbe7b696;
}

#p_name {
    background-color: #023431;
    padding: 2px;
    color: white;
}

.p_details{
    color: black;
    padding:3px;
    padding-bottom: 0px;
    margin:0px;
}

#p_stock {
    /* background-color: green; */
    padding-right: 10px;
    color: red;
    text-align: right;
}

#viewItem {
    background-color: #cafbedcc;
    margin-top:10px;
    width: 90%;
    padding: 10px;
}

#editItem > label{
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px; 
    margin-left: 20px;    
}

#editItem > input{
    font-size: 14px;
    margin: 0px; 
    margin-bottom: 10px;  
    width: 60%;  
    padding: 2px; 
}

#editItem > #submit{
    margin-left:20%;
    margin-top: 5px;
}

#editItem > h3{
    margin: 0px;
    padding: 10px;
    text-decoration: underline;
}



#editItem {
    display:block;
    height: 53%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

#viewItem > p {
    margin: 1px;
}

#viewItem > h4 {
    margin: 0px;
}

#selected {
    background-color: #158ea3dc;
    border:#023431 3px solid;
}

#search {
    font-style: italic;
    background-color: #EDF3DB;
    margin: 10px;
    margin-left: 52px;
    padding: 3px;
    border:0px;
    width:70%;
}

#searchSubmit {
    font-size: 15px;
    padding: 5px;
    width: 55px;
    height: 25px;
    border-radius: 0px;
    border:0px;
    margin:0px;
    background-color: #308744;
}

#searchSubmit:hover {
    background-color: #5a9668;
}

#searchForm {
    all:revert;
    height: auto;
}

#itemOptions > a {
    text-align: center;
    background-color: rgb(236, 85, 85);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color:black;
    padding-left: 25px;
    padding-right: 25px;
}

#itemOptions {
    display: flex;
    /* background-color: pink; */
    width:70%;
    justify-content: space-around;
    /* margin-top: 5px; */
}
