<!DOCTYPE html>
<html>
<head>
    <title>E-nventory</title>
	<script src="js/soldItems.js"></script>
    <link rel="stylesheet" type="text/css" href="css/SoldAccount.css">
</head>
<body>

    {{> header }}
    
    {{{ body }}}
	
	
</body>
</html>
