<!DOCTYPE html>
<html>
<head>
    <title>E-nventory | Edit Account</title>
    <link rel="stylesheet" type="text/css" href="../public/css/SoldAccount.css">
</head>
<body>
    <div id="header">
        <div id="logo_cont">
            <a  id="logo" href="allItems.html"> <img src="../public/images/logo.png"></a>
        </div>
        <div id="menu">
            <a  class="menuitem" href="allItems.html">All Items</a>
            <a  class="menuitem" href="viewItem.html">View Item</a>
            <a  class="menuitem" href="soldItems.html">Sold Items</a>
            <a  id="current" class="menuitem" href="myAccount.html">My Account</a>
            <a  class="menuitem" id="logout" href="index.html">Logout</a>
        </div>
    </div>
    <div class="body"> 
		<div class="mid" id="midAccount">
			<div id="top"><h1>Edit Account Details</h1></div>
			<form id="editAccount">
				<label>E-mail</label>
				<input class="inputEdit" type="email" placeholder="Johndoe@gmail.com">
				<label>Username</label>
				<input class="inputEdit" type="text" placeholder="JohnDoe">
				<label>New Password</label>
				<input class="inputEdit" type="password" placeholder="abc123">
				<label>Re-enter New Password</label>
				<input class="inputEdit" type="password" placeholder="abc123">
				
				<a class="btnAccount" href="MyAccount.html">Save Changes</a>
			</form>
			
		</div>  
    </div>
	
	<script src="../public/js/Account.js"></script>
	
</body>
</html>