

<div class="body" id="bodySI" onload="listSoldItems()">
        <div id="left" style="display: none">
			<h2>Invoice Summary</h2>
			<div id="invoiceSummary">
				<h3 id="profitViewType">Weekly Profit</h3>
					<div class="invoiceDetails">
						<p>Total Expense for this Week: 1000.00</p>
						<p>Total Earnings for this Week: 3100.00</p>
						<p id="totalProfit">Total Profit for this Week: 2100.00</p>
					</div>
				<div id="line"></div>
				<h3 id="incomeHistory">Income History</h3>
					<div class="invoiceDetails">
						<p>Total Profit Last Week: <p>1250.00</p>
						<p>Total Profit 2 Weeks Ago: 1100.00</p>
						<p>Total Profit 3 Weeks Ago: 5000.00</p>
						<p>Total Profit 4 Weeks Ago: 3000.00</p>
					</div>
				
			</div>
		</div>
		
        <div class="mid" id="midItems">
			<div id="list">
				

					<div class="itemName">Chuckie</div>
					<div class="itemDetails">
						<p>Buy Price: 7.00</p>
						<p>Sell Price: 15.00</p>
						<p class="amtSold">Amount Sold: 23</p>
					</div>
					
					<div class="itemName">Doritos</div>
					<div class="itemDetails">
						<p>Buy Price: 35.00</p>
						<p>Sell Price: 70.00</p>
						<p class="amtSold">Amount Sold: 4</p>
					</div>
					
					<div class="itemName">Pepsi</div>
					<div class="itemDetails">
						<p>Buy Price: 5.00</p>
						<p>Sell Price: 12.00</p>
						<p class="amtSold">Amount Sold: 12</p>
					</div>
					
					<div class="itemName">Pocky Matcha Flavor</div>
					<div class="itemDetails">
						<p>Buy Price: 17.00</p>
						<p>Sell Price: 25.00</p>
						<p class="amtSold">Amount Sold: 30</p>
					</div>
					
				</div>
			
		</div> 
        <div id="right"></div> 
    </div>
	